<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Agregar Prenda | QueMePongo</title>
    <link rel="stylesheet" href="events/css/estilosEvents.css">
    <script type="text/javascript" src="events/js/agregarEventos.js"></script>
    <link rel="icon" type="image/svg" href="events/images/icon.svg" />
</head>

<body>
    <nav>
        <div class="logo">QueMePongo?</div>
        <div id="notificaciones"></div>
    </nav>
    <section>
        <article>
            <form id="form" method="POST" action="#">
                <div class="itemForm">
                    <!----Agregar Buscador ----->

                    <select class="item" name="tipoDePrenda" id="tipoDePrenda" onclick="getDatosTipoDePrenda()">
                        <option value="0">Tipo De Prenda</option>
                        <option value="1">remera</option>
                    </select>
                    <span class="focus-input"></span>
                </div>
                <div class="itemForm">
                    <select class="item" name="tipoDePrenda" id="tipoDePrenda" onclick="getDatosTipoDePrenda()">
                                <option value="0">Tipo De Tela</option>
                                <option value="1">algodon</option>
                    </select>
                    <span class="focus-input"></span>
                </div>
                <div class="itemForm">
                    <select class="item" name='protocolo' id="protocol" onclick="getImgProtocol()">
                    <option  value="0">Selecciona el Protocolo de Vestimenta</option>
                    <option value="formal">Formal</option>
                    <option value="informal">Informal</option>
                    </select>
                    <span class="focus-input"></span>
                </div>
                <div class="itemForm">
                    <select class="item" name="color" id="color" onclick="changeBackgroundOutPut()">
                        <option value="red">Rojo</option>
                        <option value="blue">Azul</option>
                        <option value="yellow">Amarillo</option>
                        <option value="white">Blanco</option>
                        <option value="black">Negro</option>
                        <option value="pink">Rosa</option>
                        <option value="green">Verde</option>
                        <option value="lightblue">Celeste</option>
                        <option value="gray">Gris</option>
                        <option value="maroon">Bordo</option>
                    </select>
                </div>

                <div class="itemForm">
                    <img class="imgProtocolo" alt="" id="output" src="events/images/formalBlack.png" width="100px;" alaing="center" />
                </div>

                <div class="itemForm">
                    <input id="nuestroinput" class="item" type="file" accept="image/png">
                    <label for="nuestroinput">
                            <span>Subir Imagen Prenda</span>
                    </label>
                </div>
                <div class="itemForm">
                    <input type="submit" id="buttom" class="item" value="Agregar Prenda">
                </div>
            </form>
        </article>
    </section>
    <footer>
        <div class="opButton">
            <div class="option"><a href="events.hbs">Volver</a> </div>
        </div>
        <div class="opButton">
            <div class="option"><a href="main.hbs">Cancelar</a></div>
        </div>
    </footer>

</body>

</html>